.form {
    display: flex;
    flex-direction: column ;
    justify-content: space-between;
    width: 60%;
    margin-left: 10%;
    

}
.form-row {
    display: flex;
    justify-content: space-between;
    
}

.form-submitButton {
    display: flex;
    justify-content: center;
    align-items: center;
}